<form ng-controller="TestingCtrl" ng-submit="test(data)" ui-toggle="data">
  <div class="well">
  <legend>
    Endpoint
    <button ng-click="$parent.$parent.data=false" class="close">&times;</button>
  </legend>
  <legend>Tokens</legend>
  <div ng-repeat="token in tokens">
    <input class="span2" ng-model="token.key" type="text" placeholder="Token" ng-change="autoAdd(tokens, $index)">
    <input class="span2" ng-model="token.value" type="text" placeholder="Value" ng-change="autoAdd(tokens, $index)">
  </div>
  <div class="controls">
    <input class="span10" type="text" ng-model="data.title" placeholder="Endpoint Title">
  </div>
  <div class="controls">
    <textarea rows="4" class="span10" ng-model="data.description" placeholder="Description"></textarea>
  </div>
  <div class="controls controls-row">
    <input type="text" class="span2" ng-model="data.host" placeholder="Host">
    <span class="input-append">
      <input type="text" class="span8" ng-model="data.path" placeholder="Path">
      <button type="button" class="btn btn-info" ng-click="data.method='GET'" ng-class="{active:data.method=='GET'}" ui-if="data.get">GET</button>
      <button type="button" class="btn btn-warning" ng-click="data.method='POST'" ng-class="{active:data.method=='POST'}" ui-if="data.post">POST</button>
    </span>
  </div>
  <input type="text" ng-model="data.tags" ng-list placeholder="Tags, comma, separated">
  <div ui-toggle="data.method=='POST'">
    <legend>Post Data</legend>
    <textarea rows="6" class="span10" ng-model="data.postData" placeholder="Post Data" ui-codemirror></textarea>
  </div>
  <button type="submit" class="btn">Submit</button>
  <p ng-show="loading">Loading...</p>
  <div ui-toggle="data.code">
    <label>
      <strong>Code:</strong>
      <span class="label" ng-class="codeClass">{{data.code}}</span>
    </label>
    <pre>{{data.response|json}}</pre>
  </div>
</div>
</form>